<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Needed to start the SmartAutoClickerService as a foreground service -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- Needed to use the media projection with SmartAutoClickerService. Starting with SDK 34 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" /> <!-- Needed to display the overlay_menu over other apps -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- Needed to prompt the permission request at the right time -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> <!-- Needed to get the list of applications to start when creating an intent action. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

    <application
        android:name=".SmartAutoClickerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_smart_auto_clicker"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_smart_auto_clicker_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="DataExtractionRules"
        tools:replace="android:icon, android:roundIcon, android:theme">
        <activity
            android:name=".activity.ScenarioActivity"
            android:exported="true"
            android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.buzbuz.smartautoclicker.START_SCENARIO_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".SmartAutoClickerService"
            android:exported="true"
            android:foregroundServiceType="mediaProjection"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibilityservice" />
        </service>
    </application>

</manifest>