<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.BROADCAST_CLOSE_SYSTEM_DIALOGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="com.google.android.gms.permission.BIND_NETWORK_SUGGESTIONS_SERVICE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@android:color/transparent"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rabbit"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".FalseActivity"
            android:exported="false"
            android:label="@string/title_activity_false"
            android:theme="@style/Theme.Rabbit" />
        <activity
            android:name=".TrueActivity"
            android:exported="false"
            android:label="@string/title_activity_true"
            android:theme="@style/Theme.Rabbit" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rabbit" />
    </application>

</manifest>